* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #092f44;
  font-family: sans-serif;
  color: #efefef;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: #5b5b5b;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 800px;
  max-width: 100%;
  overflow: hidden;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.location,
.temperature {
  height: 30vh;
  width: 50%;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degree-section span {
  margin: 30px;
  font-size: 30px;
}
.degree-section h2 {
  font-size: 40px;
}

.temperature-descripton {
  font-family: sans-serif;
  font-size: 30px;
  font-style: bold;
}

.location-timezone {
  padding: 10px;
  margin-top: 30px;
}
